html
	box-sizing: border-box
	height: 100%

*,
*::after,
*::before
	box-sizing: inherit

body
	position: relative
	height: 100%
	font-family: $mainFont
	background-color: $bg-content

img
	max-width: 100%
a
	color: $link
	
.main
	height: 100%
	&.side
		padding-top: 66px
		padding-left: 300px
		.content
			padding: 30px
.content
	height: 100%

.form-group
	margin-bottom: 30px
	.form-control
		height: 52px
		border-radius: 0
		border-color: $border
		padding-left: 20px
		padding-right: 20px
		color: #000000
		font-size: 16px
		font-weight: 500
		&:focus
			box-shadow: none
			border-color: $theme

		&::placeholder
		  color: #000000
		  opacity: 1

		&:-ms-input-placeholder
		 color: #000000

		&::-ms-input-placeholder
		 color: #000000

		&:-webkit-input-placeholder
		 color: #000000

		&::-webkit-input-placeholder
		 color: #000000
.btn
	border-radius: 5px
	height: 52px
	border: none
	&.btn-primary
		background-color: $theme
	&.btn-success
		background-color: $green
	&.btn-danger
		background-color: $danger
	&.def
		height: auto
		padding-left: 15px
		padding-right: 15px
		border-radius: 3px
		-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3)
		-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3)
		box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3)
	&:focus
		box-shadow: none
.title-page
	padding-bottom: 10px
	border-bottom: 1px solid $border
	position: relative
	margin-bottom: 30px
	&:before
		content: ""
		width: 40px
		height: 2px
		background-color: $theme
		position: absolute
		left: 0
		bottom: 0
	h2 
		text-transform: uppercase
		color: $theme
		font-family: 'Roboto', sans-serif
		font-size: 14px
		line-height: 24px
		font-weight: 400
		margin: 0
	span
		position: absolute
		top: 0
		right: 0
		color: $theme
.meeting-list
	list-style: none
	margin: 0
	padding: 0
	li 
		width: 100%
		max-width: 632px
		padding: 30px
		margin-bottom: 30px
		background-color: $white
		-webkit-box-shadow: 0px 2px 5px 0px rgba(194,194,194,1)
		-moz-box-shadow: 0px 2px 5px 0px rgba(194,194,194,1)
		box-shadow: 0px 2px 5px 0px rgba(194,194,194,1)
		h3
			fons-family: $mainFont
			font-weight: 500
			font-size: 20px
			margin-bottom: 30px
			padding-bottom: 10px
			border-bottom: 1px solid $border
		p 
			color: $theme
			font-size: 16px
			font-family: 'Roboto', sans-serif
			font-weight: 400
		.list-footer
			text-align: right
		.btn
			font-family: 'Roboto', sans-serif
			font-weight: 400
.modal-backdrop
	background-color: $theme-rgba
.close
	font-size: 16px
	font-weight: 500
	color: $theme
	opacity: 1
	span
		vertical-align: middle
.modal-content
	border: none
	border-radius: 0
	.modal-header
		border-bottom: none
	.modal-body
		text-align: center
		padding: 0
	.modal-content
		text-align: center
		background-color: $bg-modal
		padding: 45px 0 70px 0
		display: block
		margin-top: 40px
		p
			width: 100%
			max-width: 390px
			margin: 0 auto 30px auto
		.btn
			display: inline-block
			text-transform: uppercase
			margin-right: 8px
			&:last-child
				margin-right: 0
.accordion
	.card
		margin-bottom: 20px
		.card-header
			background-color: $bg-form
			padding: 0
			h5
				padding: 0
				font-size: 14px
				.btn
					display: block
					text-align: left
					width: 100%
					position: relative
					&.in
			          > .material-icons
			            transform: rotate(180deg)
					.material-icons
						position: absolute
						top: 50%
						right: 20px
						margin-top: -11px
						color: #000000
			        

		.card-body
			color: $text-grey
			background-color: $bg-form
			font-family: $mainFont
			font-size: 12px
			border-bottom: 1px solid $text-grey