.help-page
	height: 100%
	.help-wrapp
		-webkit-box-shadow: 0px 2px 5px 0px rgba(194,194,194,1)
		-moz-box-shadow: 0px 2px 5px 0px rgba(194,194,194,1)
		box-shadow: 0px 2px 5px 0px rgba(194,194,194,1)
		height: 100%
		background-color: $white
		padding: 30px
		h3 
			font-size: 20px
		p
			font-size: 14px
			margin-bottom: 30px
		.form-control
			border-radius: 4px
			border: 1px solid $border
			background-color: $bg-form
			&::placeholder
			  color: $form
			  opacity: 1

			&:-ms-input-placeholder
			 color: $form

			&::-ms-input-placeholder
			 color: $form

			&:-webkit-input-placeholder
			 color: $form

			&::-webkit-input-placeholder
			 color: $form
		textarea
			height: 200px
		.btn
			padding: 6px 30px
			height uato

		.form-inline
			margin-bottom: 30px
			margin-left: -15px;
			margin-right: -15px;
			.form-control
				width: 100%