.login-page
	height: 100%
	.login-wrapper
		height: 100%
		.login-form
			width: 100%
			max-width: 370px
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			background-color: $white
			padding: 30px 20px
			-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3)
			-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3)
			box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3)
			.logo
				text-align: center
				margin-bottom: 40px
			.btn
				margin-bottom: 27px
			.link-wrapp
				position: relative
				.link-login
					position: absolute
					top: 0
					right: 0
	&.bg-default
		.login-wrapper
			background: #62cbf0
			background: -moz-linear-gradient(45deg, #62cbf0 0%, #244bbc 100%)
			background: -webkit-linear-gradient(45deg, #62cbf0 0%,#244bbc 100%)
			background: linear-gradient(45deg, #62cbf0 0%,#244bbc 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62cbf0', endColorstr='#244bbc',GradientType=1 )
	&.bg-1
		background-image: url($bg-1)
		background-repeat: no-repeat
		background-position: center
		background-attachment: fixed
		background-size: cover
		.login-wrapper
			background-color: rgba(0,0,0,0.7)
	&.bg-2
		background-image: url($bg-2)
		background-repeat: no-repeat
		background-position: center
		background-attachment: fixed
		background-size: cover
		.login-wrapper
			background: rgba(98,202,240,1)
			background: -moz-linear-gradient(45deg, rgba(98,202,240,1) 0%, rgba(36,74,188,0.4) 100%)
			background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(98,202,240,1)), color-stop(100%, rgba(36,74,188,0.3)))
			background: -webkit-linear-gradient(45deg, rgba(98,202,240,1) 0%, rgba(36,74,188,0.4) 100%)
			background: -o-linear-gradient(45deg, rgba(98,202,240,1) 0%, rgba(36,74,188,0.4) 100%)
			background: -ms-linear-gradient(45deg, rgba(98,202,240,1) 0%, rgba(36,74,188,0.4) 100%)
			background: linear-gradient(45deg, rgba(98,202,240,1) 0%, rgba(36,74,188,0.4) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62caf0', endColorstr='#244abc', GradientType=1 )

	&.bg-blue
		background-image: url($bg-blue)
		background-repeat: no-repeat
		background-position: center
		background-attachment: fixed
		background-size: cover
	&.bg-red
		background-image: url($bg-red)
		background-repeat: no-repeat
		background-position: center
		background-attachment: fixed
		background-size: cover