{% extends 'layout.html' %}

{% block content %}
	{% include 'partials/header.html' %}
	{% import 'macros/nav-macro.html' as nav %}
	{{ nav.activeMenuLink('home') }}
	<div class="sidebar">
		<div class="logo">
			<a href=""><img src="./dist/images/logo1.png" alt="logo"></a>
		</div>
		<div class="moderator-info">
			<p>Dwi Wibowo</p>
			<p>Dwi@redbackconnect.au</p>
		</div>
		<div class="moderator-pict">
			<div class="pict-wrapper">
				<img src="./dist/images/moderator.png" alt="moderator">
			</div>
		</div>
		<ul class="menu-side">
			<li><a href=""><i class="material-icons">meeting_room</i>Meeting</a></li>
			<li class="active"><a href=""><i class="material-icons">send</i>Help</a></li>
			<li><a href=""><i class="material-icons">help</i>FAQ's</a></li>
		</ul>
	</div>
	<div class="content help-page">
		<div class="title-page">
			<h2>Help</h2>
			<span class="material-icons">send</span>
		</div>
		<div class="help-wrapp">
			<h3>Need Some Help, Leave Us a Message</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam cum odit impedit itaque iusto nobis laboriosam facilis esse dolore vel provident, expedita debitis reiciendis aspernatur fuga maiores voluptatem quisquam atque.</p>
			<form>
			  <div class="form-inline">
				  <div class="form-group col-6">
				    <input type="text" class="form-control" id="exampleUserName" placeholder="User Name ">
				  </div>
				  <div class="form-group col-6">
				    <input type="email" class="form-control mb-6" id="exampleEmail" aria-describedby="emailHelp" placeholder="Enter email">
				  </div>
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" id="subject" placeholder="Subject">
			  </div>
			  <div class="form-group">
			    <textarea class="form-control" id="message" rows="10" placeholder="Sibject"></textarea>
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block script %}
{% endblock %}