{% extends 'layout.html' %}

{% block content %}
	{% include 'partials/header.html' %}
	{% import 'macros/nav-macro.html' as nav %}
	{{ nav.activeMenuLink('home') }}
	<div class="sidebar">
		<div class="logo">
			<a href=""><img src="./dist/images/logo1.png" alt="logo"></a>
		</div>
		<div class="moderator-info">
			<p>Dwi Wibowo</p>
			<p>Dwi@redbackconnect.au</p>
		</div>
		<div class="moderator-pict">
			<div class="pict-wrapper">
				<img src="./dist/images/moderator.png" alt="moderator">
			</div>
		</div>
		<ul class="menu-side">
			<li class="active"><a href=""><i class="material-icons">meeting_room</i>Meeting</a></li>
			<li><a href=""><i class="material-icons">send</i>Help</a></li>
			<li><a href=""><i class="material-icons">help</i>FAQ's</a></li>
		</ul>
	</div>
	<div class="content home-page">
		<div class="title-page">
			<h2>Scheduled Meeting</h2>
			<span class="material-icons">notifications</span>
		</div>
		<ul class="meeting-list">
			<li>
				<h3>Meeting Tittle 01</h3>
				<p>Est time : Wednesday, 12 March 2019 10:30 AM </p>
				<p>Local time : Wednesday, 12 March 2019 10:30 AM</p>
				<div class="list-footer">
					<a href="" class="btn btn-success def" data-toggle="modal" data-target="#modalMeeting1">START NOW</a>
				</div>
			</li>
			<li>
				<h3>Meeting Tittle 01</h3>
				<p>Est time : Wednesday, 12 March 2019 10:30 AM </p>
				<p>Local time : Wednesday, 12 March 2019 10:30 AM</p>
				<div class="list-footer">
					<a href="" class="btn btn-success def" data-toggle="modal" data-target="#modalMeeting2">START NOW</a>
				</div>
			</li>
			<li>
				<h3>Meeting Tittle 01</h3>
				<p>Est time : Wednesday, 12 March 2019 10:30 AM </p>
				<p>Local time : Wednesday, 12 March 2019 10:30 AM</p>
				<div class="list-footer">
					<a href="" class="btn btn-success def" data-toggle="modal" data-target="#modalMeeting3">START NOW</a>
				</div>
			</li>
			<li>
				<h3>Meeting Tittle 01</h3>
				<p>Est time : Wednesday, 12 March 2019 10:30 AM </p>
				<p>Local time : Wednesday, 12 March 2019 10:30 AM</p>
				<div class="list-footer">
					<a href="" class="btn btn-success def">START NOW</a>
				</div>
			</li>
		</ul>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="modalMeeting1" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">
	        	Close
	          <span class="material-icons">close</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <img src="./dist/images/lan.png" alt="">
	        <div class="modal-content">
	        	<p>Bill Smith Has Joined Your Meeting Would you like to Connect Now</p>
	        	<a href="" class="btn btn-primary def">Join Now</a>
	        	<a href="" class="btn btn-danger def">Dismis</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="modalMeeting2" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">
	        	Close
	          <span class="material-icons">close</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <img src="./dist/images/social.png" alt="">
	        <div class="modal-content">
	        	<p>Bill Smith AND +5 Others Has Joined Your Meeting Would you like to Connect Now</p>
	        	<a href="" class="btn btn-primary def">Join Now</a>
	        	<a href="" class="btn btn-success def">View</a>
	        	<a href="" class="btn btn-danger def">Dismis</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="modalMeeting3" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">
	        	Close
	          <span class="material-icons">close</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <img src="./dist/images/share.png" alt="">
	        <div class="modal-content">
	        	<p>Bill Smith AND +5 Others Has Joined Your Meeting Would you like to Connect Now</p>
	        	<a href="" class="btn btn-primary def">Join Now</a>
	        	<a href="" class="btn btn-danger def">Dismis</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block script %}
{% endblock %}