{% extends 'layout-login.html' %}

{% block content %}

	<div class="content login-page bg-red">
		<div class="login-wrapper">
			<div class="login-form">
				<div class="logo">
					<img src="./dist/images/logo.png" alt="logo">
				</div>
				<form>
				  <div class="form-group">
				    <input type="text" class="form-control" id="inputEmailLogin" placeholder="User Name">
				  </div>
				  <div class="form-group">
				    <input type="password" class="form-control" id="inputPasswordLogin" placeholder="Password">
				  </div>
				  <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
				  <div class="link-wrapp">
					  <a href="">Forget Password</a>
					  <a href="" class="link-login">login</a>
				  </div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}

{% block script %}
{% endblock %}