header
	padding: 15px
	text-align: right
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3)
	-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3)
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3)
	background-color: $white
	width: 100%
	height: 60px
	position: fixed
	top: 0
	left: 0
	padding-left: 300px
	z-index: 88