.sidebar
	width: 300px
	height: 100%
	background-color: $white
	position: fixed
	top: 0
	left: 0
	z-index: 99
	.logo
		padding: 15px 30px;
		height: 60px
		background-color: $white
		border-right: 1px solid $border-pict
	.moderator-info
		background: #62cbf0
		background: -moz-linear-gradient(45deg, #62cbf0 0%, #244bbc 100%)
		background: -webkit-linear-gradient(45deg, #62cbf0 0%,#244bbc 100%)
		background: linear-gradient(45deg, #62cbf0 0%,#244bbc 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62cbf0', endColorstr='#244bbc',GradientType=1 )
		color: $white
		padding: 30px 30px 60px 30px
		text-align: center
		p 
			font-weight: 500
			font-size: 16px
	.moderator-pict
		background-color: $white
		border-bottom: 1px solid $border-pict
		padding-bottom: 0px
		position: relative
		.pict-wrapper
			width: 88px
			height: 88px
			border: 5px solid $white
			margin: 0 auto 0 auto
			position: relative
			top: -40px
			text-align: center
			overflow: hidden
			border-radius: 100%
	.menu-side
		list-style: none
		padding-left: 0
		li
			margin-bottom: 10px
			a
				display: block
				padding: 8px 20px
				&:hover
					background-color: $active-menu
					text-decoration: none
				i
					vertical-align: middle
					display: inline-block
					margin-right: 15px
			&.active
				a 
					background-color: $active-menu